# === .NET Core ===
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log

# Visual Studio
.vs/
.vscode/

# ASP.NET stuff
*.dbmdl
*.dbproj.schemaview
*.publish.xml

# === Node / React ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/ClientApp/build/
/ClientApp/dist/

# === Environment ===
.env
.env.*

# === System files ===
*.DS_Store
Thumbs.db
*.zip
